

  
  $baggrundsfarve: #1b1b1b;
  $sekundaerfarve: #1e1c1c;
  $tredjefarve: #20232c;
  $accentfarve: #f5dd98;
  $tekstfarve: #ffffff;
  $tekstfarve2: #1b1b1b;
  $headerSize: calc(2.5rem + 1.5vw);
  $pFont: "Oswald", sans-serif;
  $headerFont: druk, sans-serif;
  $loadBackground: #303032;
  $loadLight: #f8f8f8;
  $pLineHeight: calc(1.3em + 0.5vw);
  $headerLineHeight: calc(0.8em + 1vw);
  $pSize: calc(0.75em + 0.4vw);
  $headerSpacer: 110px;

 